# Framework
# ---------
YII_DEBUG   = true
YII_ENV     = dev

WEB_NAME	= EDU
THEME		= basic

# Application
# -----------
LINK_ASSETS = true
LINK_ASSETS_BACKEND = true

# Databases
# ---------
DB_DSN           = mysql:host=db;port=3306;dbname=yii2-starter-kit
DB_USERNAME      = ysk_dbu
DB_PASSWORD      = ysk_pass
DB_TABLE_PREFIX  =

TEST_DB_DSN           = mysql:host=localhost;port=3306;dbname=yii2-starter-kit
TEST_DB_USERNAME      = root
TEST_DB_PASSWORD      = root

# EDU campus
# ---------
DB_DSN_CAMPUS         = mysql:host=localhost;port=3306;dbname=edu_campus_dev
DB_USERNAME_CAMPUS    = root
DB_PASSWORD_CAMPUS    = magento
DB_TABLE_PREFIX_CAMPUS  =

# EDU drama
# ---------
DB_DRAMA_DSN         = mysql:host=localhost;port=3306;dbname=edu_campus_dev
DB_DRAMA_USERNAME    = root
DB_DRAMA_PASSWORD    = magento
DB_DRAMA_TABLE_PREFIX  =

# Urls
# ----
FRONTEND_URL    = http://yii2-starter-kit.dev
BACKEND_URL     = http://backend.yii2-starter-kit.dev
STORAGE_URL     = http://storage.yii2-starter-kit.dev

# Other
# -----
SMTP_HOST = mailcatcher
SMTP_PORT = 1025

FRONTEND_COOKIE_VALIDATION_KEY = <generated_key>
BACKEND_COOKIE_VALIDATION_KEY = <generated_key>

ADMIN_EMAIL    = admin@yii2-starter-kit.dev
ROBOT_EMAIL    = robot@yii2-starter-kit.dev

GITHUB_CLIENT_ID = your-client-id
GITHUB_CLIENT_SECRET = your-client-secret

GLIDE_SIGN_KEY = <generated_key>
GLIDE_MAX_IMAGE_SIZE = 4000000

QINIU_ACCESS_KEY = -
QINIU_SECRET_KEY = -
QINIU_DOMAIN     = -
QINIU_BUCKET     = -

# aliyun sms
# ----
ACCESSKEY	= -
ACCESSSECRET= -

