# Env
/.env

# composer
/vendor
/auth.json
composer.phar
## remove in production!
composer.lock

# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant

# Tests
tests/codeception/*/_support/_generated/*

backend/edu-spa/node_modules
backend/edu-spa/dist

*.bz2
*.tar

# SignInApi 
backend/modules/users/controllers/api/v1/SignInApi.php
frontend/modules/api/v1/controllers/SignInApi.php
frontend/controllers/edu/SignInApi.php