border-height = 1px;
header-height = 50px;
min-width = 1024px;
create-color = #00a65a;
create-border-color = #00a65a;

.clear-fix
  zoom: 1;
  &:befor
    content: "";
    display: table;
  &:after
    content: "";
    clear: both;
    display: table;

body
  min-width min-width;
  font-family: '微软雅黑';





