/*-- //to-top --*/	
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:59.2%;
	}
}
@media (max-width:1366px){
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:60%;
	}
}
@media (max-width:1280px){
	.banner-btm-grids {
	  margin: 7em 0;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:64.5%;
	}
	.about-banner {
		min-height: 500px;
	}
	.about-banner-info h3 {
		font-size: 4.5em;
	}
	.about-banner-info {
		padding: 10em 0 0;
	}
	input[type="text"]:nth-child(2) {
	  margin: 0 2.59em;
	}
	li.act a, .header-nav ul li.active a {
	  padding: 30px 18.8px;
	}
}
@media (max-width:1024px){
	.logo a {
		font-size:2.15em;
	}
	.header-nav p {
		font-size: 14px;
		margin: 1em 0 2.35em;
	}
	.header-nav ul li a {
		font-size: 14px;
	}
	li.act a, .header-nav ul li.active a {
	  padding:27px 10px;
	}
	.navbar-nav {
	  margin:3.2em 0 0 0em !important;
	}
	li.activ a {
	  padding: 17px 25px 0px;
	}
	li.activ {
	  padding-bottom: 1px;
	}
	.header-nav {
	}
	.dropdown-menu {
	  top:97% !important;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:65%;
	}
	.banner-bottom-left-grid p {
		margin:1.8em 0 0;
	}
	.da-slide h2 {
		font-size: 20px;
	}
	.cate h2 {
		font-size: 20px !important;
	}
	.da-slider {
		height: 285px;
	}
	.banner-bottom-left {
	  float: none;
	  width: 100%;
	}
	.cap1 span {
		top:92.1%;
	}
	.cap span {
		left: -5.5%;
	}
	.cap3 span {
		right: -5.5%;
	}
	.sidebar.top {
		margin-top:0%;
	}
	.banner-btm-grid h3 {
		font-size: 1.1em;
	}
	.banner-btm-grid {
	  width: 23.7%;
	}
	.banner-bottom-right-info h2 {
		font-size: 20px !important;
	}
	.more a {
		padding: 9px 25px;
	}
	.banner-bottom-right-info a {
		padding: 8px 25px;
	}
	p.quis {
		margin: 1em 0;
	}
	.banner-bottom-right1 {
	  float: none;
	  width: 100%;
	}
	.banner-btm-grids {
	  margin: 5em 0;
	}
	.banner-bottom-left1 {
	  float: none;
	  width: 100%;
	}
	.sidebar {
	  float: none;
	  width: 100%;
	}
	.txt {
	  padding:3.25em 1.4em;
	}
	p.asd {
	  padding-bottom: 6.55em;
	}
	.cum span {
	  top:93.6%;
	}
	.banner-bottom2 {
	  margin-bottom: 5em;
	}
	.about-banner-info h3 {
	  font-size: 3.5em;
	}
	.about-banner-info {
	  padding: 7em 0 0;
	}
	.about-banner {
		min-height: 390px;
	}
	.glyphicon-user, .glyphicon-calendar, .glyphicon-pencil {
	  font-size: 45px;
	}
	.user {
		padding: 0.8em 0 0;
	}
	.professional-services-grid h4,.residential-estate-grd h4{
	  margin: 2em 0 0.8em;
	  font-size: 1em;
	}
	.residential-estate-grids:nth-child(3) {
	  margin: 3em 0 0;
	}
	.news-left-l h3,.news-right h3 {
		font-size: 20px !important;
	}
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3, .sing-img-text h3 {
		font-size: 22px !important;
	}
	.leave-a-comment input[type="text"]:nth-child(2) {
	  margin: 0 2.1em;
	}
	.leave-a-comment input[type="submit"],.search input[type="submit"] {
		font-size: 17px;
	}
	.categories-mid {
	  margin: 3em 0 0;
	}
	.search input[type="submit"] {
	  margin: 2em 0 2em;
	}
	.categories-mid ul li:nth-child(6) {
	  margin-bottom: 3em;
	}
	.text {
		top:44.7%;
	}
	.text1 {
		top:63.7%;
	}
	.featured-services-grid {
	  width:31.05%;
	}
	.car span {
		background: url(../images/car.png) no-repeat 31.5em 0em;
	}
	.map iframe {
	  height: 320px;
	}
	.contact-grid p.dot {
		background: url(../images/dot.png) no-repeat 1em .5em;
	}
	.contact-grid p.phone {
		background: url(../images/phone.png) no-repeat 2em .5em;
	}
	.contact-grid p.message {
		background: url(../images/message.png) no-repeat 1em 0em;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 0 1.4em;
	}
	.contact-form input[type="submit"] {
		font-size: 17px;
	}
	.ipsum-grid-grids {
	  width:31.06%;
	}
	.team-grid h4 {
		font-size: 1.4em;
	}
	.banner-bottom-left-grid img {
	  width: 100%;
	}
	a.navbar-brand {
		font-size: 2.3em;
	}
}
@media (max-width:768px){
	.Buttons h1,.Buttons h2,.Buttons h3 {
	  margin: 0 0 10px !important;
	}
	.headdings, .Buttons, .progress-bars, .alerts, .bread-crumbs, .pagenatin, .appearance, .distracted {
	  padding: 0em 0 2em;
	}
	span.menu {
	  display: block;
	  text-align: center;
	  padding-bottom: 1em;
	  cursor: pointer;
	  color: #E74C3C;
	  font-size: 16px;
	  font-weight: 700;
	  position: relative;
	}
	ul.pagination {
	  margin: 1em 0 !important;
	}
	.banner-nav {
	  float: none;
	  margin: 1em auto 0;
	  width: 6%;
	}
	ul.nav1 {
		display: none;
	}
	.banner-nav ul {
		padding: 0;
		margin: 0;
		z-index: 9999;
		position: absolute;
		width: 100%;
		left:0;
	}
	.btn-default {
		margin-left: 24.5em;
	}
	.header-nav p {
	  text-align: center;
	}
	.header-nav p {
	  margin: 1em 0 0.89em;
	}
	li.act a, .header-nav ul li.active a {
	  padding:24px 12px;
	}
	.btn-default {
	  margin-left: 0em;
	}
	li.activ {
	  padding-bottom: 0;
	}
	.logo a {
	  font-size:2.23em;
	}
	.txt {
	  padding: 1.2em 1.4em;
	}
	.banner-bottom-left-grid h3 {
		font-size: 1.2em;
	}
	.banner-bottom-left-grid p {
	  margin: 0.5em 0 0;
	}
	.banner-bottom-left-grid img {
	  min-height: 255px;
	}
	.header-nav p {
		color:#64082B;
	}
	.header-nav ul li a {
		color: #fff;
	}
	a.drop {
	  color: #000 !important;
	  padding: 0 1em !important;
	}
	.dropdown-menu {
	  float: none;
	  text-align: center;
	  margin-left:-9em !important;
	}
	.dropdown-menu {
	  top:101% !important;
	  left: 157%;
	}
	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
		color: #fff !important;
	}
	.btn-default {
	  background: none !important;
	  color: #fff !important;
	}
	.banner-btm-grid:nth-child(2),.banner-btm-grid:nth-child(4) {
	  margin: 0 0 5em 2em;
	}
	.banner-btm-grid:nth-child(3) {
	  margin: 0;
	}
	.banner-btm-grid {
	  width:47.77%;
	}
	.banner-btm-grid h3 {
	  font-size: 1em;
	}
	.banner-btm-grid {
		padding: 0em 1.3em 2em;
	}
	.banner-btm-grids {
	  margin: 5em 0 0;
	}
	p.asd {
	  padding-bottom: 0;
	}
	img.mnb {
	  min-height: 315px;
	}
	.footer-info-left {
	  float: none;
	  text-align: center;
	  margin-bottom: 1em;
	}
	.footer-info-right {
	  float: none;
	  text-align: center;
	}
	.about-top-left img {
	  margin: 0 auto;
	}
	.about-top-left {
	  text-align: center;
	  margin-bottom: 2em;
	}
	.about-banner {
	  margin: 2em 0 0;
	}
	.about-banner-info h3 {
	  font-size: 3.1em;
	}
	.about-banner-info p {
	  font-size: 14px;
	  width: 80%;
	}
	.about-banner-info {
	  padding: 6em 0 0;
	}
	.callbacks_tabs {
		left: 41.5%;
		top: 123.5%;
	}
	.about-banner {
	  min-height: 420px;
	}
	.team {
		padding: 3em 0;
	}
	.team-grid {
	  float: left;
	  width: 50%;
	  margin-bottom: 2em;
	}
	.featured-services h3 {
	  margin: 0 0 1em;
	}
	.featured-services {
	  margin: 0em 0 2em;
	}
	.professional-services-grid {
	  float: none;
	  width: 50%;
	  margin: 0 auto;
	  text-align:center;
	}
	.professional-services-grid:nth-child(2) {
	  margin: 2em auto;
	}
	.professional-services h3,.residential-estate h3 {
	  margin: 0 0 1em;
	}
	.professional-services {
		padding: 3em 0;
	}
	.residential-estate-grd {
	  float: left;
	  width:50%;
	  margin-bottom: 2em;
	}
	.residential-estate {
	  margin: 3em 0 2em;
	}
	.news-left-l p {
		margin: 1em 0 2em;
	}
	.news-right {
	  margin: 2em 0 0;
	}
	.ipsum-grid-grids {
	  float: left;
	  width:30.74%;
	}
	.text1 {
	  top:48.7%;
	}
	.contact-grid {
	  width: 31%;
	}
	.text {
	  top:30%;
	}
	.ipsum-grids h3 {
	  margin: 0 0 1em;
	}
	.leave-a-comment input[type="text"] {
	  float: none;
	  width: 100%;
	}
	.leave-a-comment input[type="text"]:nth-child(2) {
	  margin: 1.5em 0;
	}
	.leave-a-comment input[type="submit"] {
		width: 30%;
	}
	.car span {
	  background: url(../images/car.png) no-repeat 23.5em 0em;
	}
	.contact-grid h4 {
	  font-size: 17px;
	  letter-spacing: 0px;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 0em .5em;
	}
	.contact-grid p {
		font-size: 13px;
		margin: 0;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 1em .5em;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 0em 0em;
	}
	.contact-form input[type="text"], .contact-form textarea {
	  float: none;
	  width: 100%;
	}
	.contact-form input[type="text"]:nth-child(2) {
	  margin: 1.5em 0;
	}
	.contact-form h3 {
	  margin: 0 0 0.5em;
	}
	.residential-estate-grids:nth-child(3) {
	  margin: 0;
	}
	.label {
		font-size: 71% !important;
	}
	.featured-services-grid {
	  width: 100%;
	  float: none;
	}
	.featured-services-grid:nth-child(2) {
	  margin:2em 0;
	}
	.news-left {
	  float: none;
	  width: 100%;
	}
	.news-right {
	  float: none;
	  width: 100%;
	}
	ul.ert,ul.odio {
	  margin: 2em 0 3em !important;
	}
	.distracted {
	  margin-bottom: 2em;
	}
	.sing-img-text {
	  float: none;
	  width: 100%;
	}
	.sing-img-text-left {
	  float: none;
	  width: 100%;
	}
	.headdings h1 {
	  margin: 0px 0 10px !important;
	}
	.headdings h2 {
	  margin: 0 0 10px !important;
	}
	.ipsum-grid-grids:nth-child(4) {
	  margin: 0 1.7em;
	}
	.logo {
	  padding: 0.3em 1em;
	}
	.logo a {
	  font-size: 2.1em;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width: 58.5%;
	}
	.featured-services-grid img {
	  width: 100%;
	}
	.team-grid img {
	  margin: 0 auto;
	}
	.logo {
	  margin-left:-17px;
	}
	
	.header-nav {
	  background: none !important;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:72.5%;
	}
	.sb-search-input {
		background: #E44F88;
	}
	a.navbar-brand {
		font-size: 2.5em;
	}
	.navbar-brand {
	  height: 120px;
	  padding: 40px 15px;
	}
	.header-nav ul li a {
	  font-size: 14px;
	}
	.navbar-nav {
	  margin: 3.28em 0 0 0em !important;
	}
	ul.dropdown-menu a {
	  color: #000 !important;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: #F476A6;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-toggle {
		background-color: #F476A6;
		margin-top: 40px;
	}
	.header-nav {
	  background: #FF9BC1 !important;
	}
	.navbar-default .navbar-toggle {
	  border-color:#fff;
	}
	.header-nav ul {
	  background-color: #FA81AF;
	}
	.header-nav ul li {
	  display: block;
	  float: none;
	  border-left: none;
	}
	.header-nav ul li.active a {
	  color: #fff !important;
	}
	li.act a, .header-nav ul li.active a {
	  padding: 15px 0;
	}
	.navbar-nav {
	  margin: 0 !important;
	}
	.navbar-nav {
	  float: none;
	  text-align: center;
	    margin: 0 !important;
	}
	.header-nav ul li a {
	  float: none;
	  width: 100%;
	}
	.caret {
	  margin: 0 auto;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border-color: #FF9BC1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #fff !important;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	  color: #fff;
	  background: none !important;
	}
	.dropdown-menu {
	  margin-left: 0em !important;
	}
	.dropdown-menu {
	  top: 101% !important;
	  left: 0%;
	  background-color: #DA5185 !important;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #000 !important;
	}
}
@media (max-width: 736px){
	.header {
	  background-color: #FF9BC1;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:61%;
	}
	.banner-bottom-left-grid img {
	  min-height: 280px;
	}
	.banner-btm-grid {
	  width: 47.57%;
	}
	.banner-btm-grid h3 {
	  font-size: 1em;
	}
	img.mnb {
	  min-height: 316px !important;
	}
	.banner-btm-grid {
	  padding: 0em 0.3em 2em;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.header-nav p label {
		color: #fff;
	}
	.navbar-default .navbar-toggle {
	  border-color: #fff;
	}
	.navbar-default {
	  border-color: #FF9BC1;
	}
}
@media (max-width:667px){
	.header-nav {
		margin: 0;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:60%;
	}
	.banner-btm-grid {
	  width: 47.3%;
	}
	.banner-btm-grid {
	  padding: 0em 1em 2em;
	}
	.cap span {
	  left: -6%;
	}
	img.mnb {
	  min-height: 366px !important;
	}
	.header-nav p {
	  font-size: 14px;
	}
	.cum span {
	  top: 93.7% !important;
	}
	.navbar-default {
	  background: none !important;
	  border-color: #FF9BC1;
	}
	.navbar-default .navbar-toggle {
	  border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.header-nav p label {
	  color: #fff;
	}
}
@media (max-width:640px){
	.header-nav p label {
		color: #fff;
	}
	.navbar-default {
	  border-color: #FF9BC1;
	}
	.navbar-toggle{
		margin:2.3em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color:#F476A6;
	}
	li.act a, .header-nav ul li.active a {
	  padding: 15px 0;
	}
	.navbar-default .navbar-toggle {
	  border-color: #fff;
	}
	.header-nav {
		padding:0.4em 1em;
	}
	.headdings h1,.headdings h2,.headdings h3 {
	  margin: 0 0 10px !important;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:62.5%;
	}
	.header-nav p {
	  margin: 1em 0 1.35em;
	}
	.banner-bottom-left-grid img {
	  min-height: 271px;
	}
	.cap1 span {
	  top: 92.3%;
	}
	.banner-bottom-left-grid h3 {
	  font-size: 1em;
	}
	.ipsum-grid-grids {
	  width: 30.18%;
	}
	.label {
	  font-size: 58% !important;
	}
	.headdings h3, .Buttons h3, .progress-bars h3, .alerts h3, .bread-crumbs h3, .pagenatin h3, .appearance h3, .distracted h3 {
		font-size: 1.8em;
	}
	.cap3 span {
	  right: -6%;
	}
	.banner-btm-grid {
	  padding:0em 1em 2em;
	}
	img.mnb {
	  min-height: 358px !important;
	}
	.banner-btm-grid:nth-child(2), .banner-btm-grid:nth-child(4) {
	  margin: 0 0 4em 2em;
	}
	.breadcrumb {
	  margin-bottom: 3em !important;
	}
	ol.breadcrumb li,ol.breadcrumb li a {
	  font-size: 17px;
	}
	.about-top-right ul li a {
		font-size: 14px;
	}
	.about-banner-info h3 {
	  font-size: 2.5em;
	}
	.callbacks_tabs {
	  left: 37.5%;
	}
	.about-banner-info {
	  padding: 5em 0 0;
	}
	.about-banner {
	  min-height: 395px;
	}
	.contact h3, .contact-form h3, .team h3, .featured-services h3, .professional-services h3, .residential-estate h3, .ipsum-grids h3 {
		font-size: 27px !important;
	}
	.team-grid h4 {
		font-size: 1.3em;
	}
	.team {
	  padding: 3em 0 1em;
	}
	.glyphicon-user, .glyphicon-calendar, .glyphicon-pencil {
	  font-size: 40px;
	}
	.user {
	  padding: 0.9em 0 0;
	}
	.professional-services-grid h4, .residential-estate-grd h4 {
	  margin: 2em 0 0.8em;
	  font-size: 1.1em;
	}
	.professional-services-grid {
		width: 75%;
	}
	.text1 {
	  top:37.2%;
	}
	.text {
	  top:20.5%;
	}
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3, .sing-img-text h3 {
	  font-size: 20px !important;
	}
	.media-body a {
	  width: 43%;
	  margin-left: 30em;
	}
	.car span {
	  background: url(../images/car.png) no-repeat 19.5em 0em;
	}
	.contact-grid {
	  float: none;
	  width: 100%;
	}
	.contact-grid:nth-child(2) {
		margin:2em 0;
	}
	.contact-grid h4 {
	  margin: 0 0em 1em;
	  font-size:15px;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 14em .5em;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 14em .5em;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 14em 0em;
	    margin-top: 1.5em;
	}
	.contact-form {
	  margin: 3em 0;
	}
	.contact-form textarea {
	  height: 210px;
	}
	.header-nav ul li a {
	  float: none;
	  width: 100%;
	}
	.header-nav ul li {
	  display:block;
	  float:none;
	  border-left: none;
	}
	.header-nav ul li:nth-child(7) {
	  border-right: none;
	}
	.header-nav ul li.active a {
	  color: #fff !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border-color: #FF9BC1;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #000;
	}
	.header-nav ul{
	  background-color: #FA81AF;
	}
	.navbar-toggle {
		float:right;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	a.navbar-brand {
	  font-size: 2.4em;
	}
	.navbar-brand {
	  height: 100px;
	  padding:30px 0;
	}
	.navbar-nav {
	  margin: 0 !important;
	}
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.caret {
	  text-align: center;
	  margin: 0 auto;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #fff;
	}
	.dropdown-menu {
	  margin-left: 0em !important;
	}
	.dropdown-menu {
	  top: 101% !important;
	  left: 0%;
	  background-color: #DA5185 !important;
	}
	ul.dropdown-menu li a {
	  color: #fff !important;
	}
}
@media (max-width:600px){
	.header-nav {
	  margin: 0 3em 0 0;
	}
	.cap1 span {
	  top: 94.1%;
	}
	.banner-bottom-left-grid {
	  float: none;
	  width: 75%;
	  margin: 0 auto;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:61.5%;
	}
	.banner-btm-grid {
	  width: 47%;
	}
	.banner-btm-grid h3 {
	  font-size: .9em;
	}
	.cum span {
	  top: 95.1% !important;
	}
	.banner-bottom-left-grid img {
	  min-height: initial;
	}
	.cap span {
	  left: -3%;
	}
	.cap3 span {
	  right: -3%;
	}
	.banner-btm-grid {
	  padding: 0em 1em 2em;
	}
	img.mnb {
	  min-height: inherit !important;
	}
	.cap1 span {
	  top: 95.1%;
	}
}
@media (max-width:568px){
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:62.5%;
	}
	.banner-btm-grid:nth-child(2), .banner-btm-grid:nth-child(4) {
	  margin: 0 0 4em 1em;
	}
	.header-nav {
	  margin:0 3em 0 0;
	}
	.header-nav {
	  padding: 0.5em 1em;
	}
	.header-nav p {
	  font-size: 12px;
	}
	.btn-default {
	  margin-left: 7em;
	}
}
@media (max-width:480px){
	.header-nav p {
	  margin:0em 0 0.35em;
	  display: none;
	}
	span.menu {
		padding-bottom: 0.5em;
	}
	.header-nav {
	    margin:0;
	}
	span.menu {
		margin: 1.5em 0 0;
	}
	.header-nav ul li {
	  margin: 0;
	}
	.btn-default {
	  margin-left:0.2em;
	}
	.callbacks_tabs {
	  left: 35.5%;
	  top: 121.5%;
	}
	.header-nav ul {
		padding: 0 0 1em;
	}
	.distracted {
	  margin-bottom: 0em;
	}
	h1, .h1 {
	  font-size: 30px !important;
	  margin:-9px 0 0 !important;
	}
	h2, .h2 {
	  font-size: 26px !important;
	  margin:-9px 0 0 !important;
	}
	.label {
	  font-size: 50% !important;
	}
	.logo a {
	  font-size: 1.8em;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:65%;
	}
	.banner-bottom-left-grid {
		width:90%;
	}
	.banner-bottom-left {
	  margin: 1.4em 0 0;
	}
	.banner-btm-grid {
	  width: 80%;
	  margin: 0 auto;
	  float: none;
	}
	.banner-btm-grids {
	  margin: 4em 0 0;
	}
	.banner-btm-grid:nth-child(2), .banner-btm-grid:nth-child(4) {
	  margin: 4em auto;
	}
	.banner-btm-grid:nth-child(3) {
	  margin: 0 auto;
	}
	.banner-bottom2 {
	  margin-bottom: 4em;
	}
	.header-nav ul li a {
		font-size: 15px;
	}
	.about-top-left img {
	  width: 80%;
	}
	.about-top-right h3 {
		font-size: 18px;
	}
	.about-banner-info h3 {
	  font-size: 2.1em;
	}
	.callbacks_tabs a:after {
	  height: 14px;
	  width: 14px;
	}
	.about-banner-info {
	  padding: 3em 0 0;
	}
	.contact h3, .contact-form h3, .team h3, .featured-services h3, .professional-services h3, .residential-estate h3, .ipsum-grids h3 {
	  font-size: 25px !important;
	}
	.team h3 {
	  margin: 0 0 1em;
	}
	.team-grid {
	  float: none;
	  width: 75%;
	  margin: 0 auto 2em;
	}
	.residential-estate-grd {
	  float: none;
	  width: 80%;
	  margin: 0 auto 2em;
	  text-align:center;
	}
	.sing-img-text1 h3 {
	  font-size: 20px !important;
	}
	.media-body h4 {
	  font-size: 16px;
	  margin: 0 0 0.5em;
	}
	.media-left {
	  width: 18%;
	}
	.media-body a {
	  width: 100%;
	  margin-left: 20em;
	  font-size:14px;
	}
	.leave-a-comment input[type="submit"] {
	  width: 45%;
	  font-size:16px;
	}
	.ipsum-grid-grids {
	  float: none;
	  width: 100%;
	}
	.text {
	  top:62.7%;
	}
	.text1 {
	  top:78%;
	}
	.ipsum-grid-grids:nth-child(4) {
	  margin: 0;
	}
	.list ul {
		padding: 2em 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea {
		font-size: 14px;
	}
	.car span {
	  background: url(../images/car.png) no-repeat 13.5em 0em;
	}
	.map iframe {
	  height: 240px;
	}
	.map {
		margin: 2em 0 1em;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 8em .5em;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 8em .5em;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 8em 0em;
	}
	.ipsum-grid:nth-child(2) {
	  margin: 0 0 1.5em;
	}
	.about-banner {
	  min-height: 350px;
	}
	.headdings h3 {
	  font-size: 24px !important;
	}
	.logo {
	  padding: 0em 1em;
	}
	.residential-estate-grd img {
	  margin: 0 auto;
	}
	.sb-search, .sb-search-input, .sb-icon-search, .sb-search-submit {
	  height:77px;
	}
	.sb-icon-search {
	  background: #ff9bc1 url('../images/search.png') no-repeat 10px 30px;
	}
	.sb-search-submit {
		background:#ff9bc1 url('../images/search.png') no-repeat 10px 30px;
	}
}
@media (max-width: 414px){
	.header-nav {
		margin: 3.4em 4em 0 0;
	}
	.logo {
	  padding: 0.5em 1em;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:49.5%;
	}
	.header-nav {
	  padding:2em 0;
	}
	.header-nav ul li {
	  padding: 10px 0;
	}
	.header-nav ul li a {
	  font-size: 14px;
	}
	.banner-bottom-left-grid {
	  width: 100%;
	}
	.cap1 span {
	  top:94.5%;
	}
	.cap span {
	  left: -3.5%;
	}
	.cap3 span {
	  right: -3.5%;
	}
	.banner-btm-grid {
		width: 100%;
	}
	.about-top-left img {
	  width: 90%;
	}
	.header-nav p {
		display: none;
	}
	.header-nav {
	  margin:0;
	}
	.header-nav ul {
	  padding: 0;
	}
	.navbar-header {
	  margin: 0;
	}
}
@media (max-width:384px){
	.sb-search-input {
	  padding: 0 5.4em 0 0.5em;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:55.5%;
	}
	.logo a {
	  font-size: 1.5em;
	}
	span.menu {
	  text-align: center;
	}
	span.menu {
		padding:0 0 9px;
	}
	.header-nav ul li a {
	  text-align: center;
	  color: #fff;
	}
	.btn-default {
	  margin-left: 0;
	}
	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	  color: #fff !important;
	}
	.btn-default:hover {
	  border-color: #fff !important;
	}
	.btn-default {
	  color: #fff !important;
	  border-color: #fff !important;
	}
	.header-nav {
	  padding:1.5em 0;
	}
}
@media (max-width:375px){
	.btn-default {
	  margin-left: 0em;
	}
	.navbar-header {
	  margin: 0.2em 0 0;
	}
}
@media (max-width:320px){
	.header-nav ul li a {
	  font-size: 13px;
	}
	.header-nav ul li {
	  padding:0;
	}
	li.act a, .header-nav ul li.active a {
	  padding: 7px 0;
	}
	.btn-default {
	  margin-left:0;
	}
	.dropup, .dropdown {
	  margin-top: -22px;
	  margin-left: 62px;
	}
	.header-nav p {
	  margin: 1em 0 1em;
	}
	.headdings h3, .Buttons h3, .progress-bars h3, .alerts h3, .bread-crumbs h3, .pagenatin h3, .appearance h3, .distracted h3 {
	  font-size: 1.5em;
	}
	h1, .h1 {
	  font-size: 23px !important;
	  margin: 0px 0 20px !important;
	}
	h2, .h2 {
	  font-size: 20px !important;
	  margin: 0px 0 20px !important;
	}
	h3, .h3 {
	  font-size: 18px !important;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width:47.5%;
	}
	.col-md-6 {
	  padding: 0 !important;
	}
	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 10px 13px !important;
	}
	.container {
	  padding: 0 10px !important;
	}
	.logo a {
	  font-size:1.3em;
	}
	.header-nav p {
	  font-size: 12px;
	}
	.header-nav {
		margin: 0;
	}
	.navbar-header {
	  margin: 0;
	}
	.banner-bottom-left {
	  margin: 0.5em 0 0;
	}
	.cap span {
	  display: none;
	}
	.cap3 span {
	  display: none;
	}
	.banner-bottom-left-grid p,.banner-btm-grid p,p.quis,.footer-info-left p,.footer-info-right ul li a {
		font-size: 13px;
	}
	.cap1 span {
	  display: none;
	}
	.cate ul li a {
		font-size: 13px;
	}
	.cate ul li {
	  margin: 0px 0 11px;
	}
	.more a {
	  padding: 8px 20px;
	  font-size:13px;
	}
	.banner-bottom-right-info a {
	  padding: 7px 20px;
	  font-size:13px;
	}
	.about-top-left img {
	  width:60%;
	}
	ol.breadcrumb li, ol.breadcrumb li a {
	  font-size: 15px;
	}
	.about-top-right h3 {
	  font-size: 16px;
	}
	.about-top-right p {
	  margin: .5em 0;
	  font-size: 13px;
	}
	.about-top-left,.about-top-right,.featured-services-grid,.news-left,.news-right,.ipsum-grid-grids,
	.sing-img-text,.sing-img-text-left{
	  padding: 0 !important;
	}
	.about-top-right ul li a {
	  font-size: 12px;
	}
	.about-top-right ul li {
		height: 33px;
	}
	.about-banner-info h3 {
	  font-size:1.2em !important;
	}
	.about-banner-info p {
	  font-size: 12px;
	  width: 100%;
	}
	.callbacks_tabs {
	  left: 27.5%;
	  top: 106.5%;
	}
	.about-banner-info {
	  padding: 2em 0 0;
	}
	.about-banner {
	  min-height: 255px;
	}
	.team {
	  padding: 2em 0 1em;
	}
	.contact h3, .contact-form h3, .team h3, .featured-services h3, .professional-services h3, .residential-estate h3, .ipsum-grids h3 {
	  font-size: 21px !important;
	}
	.team-grid {
		width: 90%;
	}
	.dropdown-menu {
	  margin-left:-8em !important;
	}
	.breadcrumb {
	  margin-bottom: 2em !important;
	}
	.professional-services {
	  padding: 2em 0;
	}
	.featured-services {
	  margin: 0em 0 1em;
	}
	.glyphicon-user, .glyphicon-calendar, .glyphicon-pencil {
	  font-size: 35px;
	}
	.user {
	  width: 100px;
	  height: 100px;
	}
	.professional-services-grid h4, .residential-estate-grd h4 {
	  margin: 1.5em 0 0.8em;
	  font-size: 1em;
	}
	.professional-services-grid {
	  width: 100%;
	}
	.professional-services-grid p,.featured-services-grid p,.featured-services-grid li a,
	.residential-estate-grd p,.news-left-l p,.ipsum-grid p.erat,.text a,p.est,.media-body,
	.search input[type="text"],.categories ul li a,.related-post-right p{
		font-size: 13px;
	}
	.related-post {
	  margin: 0.5em 0;
	}
	.categories-mid ul li:nth-child(6) {
	  margin-bottom: 2em;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea {
		padding: 8px 10px;
	}
	.leave-a-comment {
	  padding: 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment textarea {
	  font-size: 13px;
	}
	.leave-a-comment input[type="submit"], .search input[type="submit"] {
	  font-size: 13px;
	}
	.single {
	  margin: 0 0 2em;
	}
	.residential-estate-grd {
		width: 100%;
	}
	.news-left-l h3, .news-right h3 {
	  font-size: 16px !important;
	}
	.news-left-l p {
	  margin: 1em 0 1em;
	}
	a.read {
	  padding: .3em 1.5em;
	  font-size: 13px;
	}
	.news-right-text p {
	  margin: 0.5em 0 0em;
	  font-size: 13px;
	}
	ul.pagination {
	  margin:1em 0 0em !important;
	}
	.text {
	  top:45.5%;
	}
	.text1 {
	  top:64.6%;
	}
	.footer-icons ul {
		padding: 0 0 1em;
	}
	.sing-img-text1 {
	  padding: 1em 0;
	}
	p.est span {
	  margin: 0;
	}
	.list ul {
	  padding: 1em 0;
	}
	.media-body a {
	  margin-left: 12em;
	  font-size: 13px;
	}
	.media-left {
	  width: 22%;
	}
	.search input[type="submit"] {
	  margin: 1em 0 2em;
	}
	.leave-a-comment input[type="submit"], .search input[type="submit"] {
	  font-size: 14px;
	}
	.categories h3, .search h3, .related-posts h3, .leave-a-comment h3, .sing-img-text h3 {
	  font-size: 17px !important;
	}
	.sing-img-text1 h3 {
	  font-size: 17px !important;
	}
	.categories ul li {
		margin: 0.5em 0;
	}
	.car span {
	  background: url(../images/car.png) no-repeat 8.5em 0em;
	}
	.paragraph p {
	  font-size: 13px;
	  text-align: center;
	}
	.map {
	  margin: 0em 0 1em;
	  padding: 0.5em;
	}
	.contact-grid h4 {
	  font-size: 14px;
	}
	.contact-grid p {
		font-size: 12px;
	}
	.contact-grid p.dot {
	  background: url(../images/dot.png) no-repeat 2em .5em;
	}
	.contact-grid p.phone {
	  background: url(../images/phone.png) no-repeat 2.3em .5em;
	}
	.contact-grid p.message {
	  background: url(../images/message.png) no-repeat 2.3em 0em;
	}
	.contact-form {
	  margin: 1em 0 2em;
	}
	.contact-form input[type="text"], .contact-form textarea {
		padding: 9px 10px;
	}
	.contact-form textarea {
	  height: 140px;
	  margin: 1.5em 0em 2em;
	}
	.contact-form input[type="submit"] {
	  font-size: 14px;
	  padding: 7px 65px;
	}
	.headdings h3 {
	  font-size: 18px !important;
	}
	.headdings h4 {
	  font-size: 17px !important;
	}
	.well {
	  font-size: 13px;
	  line-height: 1.8em;
	}
	#domprogress p {
	  font-size: 13px !important;
	}
	.progress {
		height: 10px !important;
	}
	.alert {
	  font-size: 13px;
	  margin-bottom: 10px;
	}
	.pagination-lg > li > a, .pagination-lg > li > span {
	  font-size: 12px;
	}
	.appearance p {
	  font-size: 13px;
	}
	a.list-group-item {
	  font-size: 13px;
	}
	.news {
	  padding-bottom: 2em;
	}
	.footer-info-right ul li {
	  padding-left: 12px;
	}
	ul.odio {
	  margin-bottom: 2em !important;
	}
	span.menu {
	  padding: 0 0 25px;
	}
	.team-grid p {
		font-size: 13px;
	}
	.banner-bottom-left-grid img {
	  min-height: 130px;
	  width: 60%;
	  margin: 0 auto;
	}
	.logo {
	  margin-left: -12px;
	}
	.header {
	  background-color: #FF9BC1;
	}
	.header-nav {
	  background: none !important;
	}
	.sb-icon-search {
	  background: #ff9bc1 url('../images/search.png') no-repeat 10px 28px;
	}
	.sb-search-submit {
		background:#ff9bc1 url('../images/search.png') no-repeat 10px 28px;
	}
	.sb-search,.sb-search-input,.sb-icon-search, .sb-search-submit {
		height:71px;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
	  width: 61.5%;
	}
	.sb-search-input {
		background: #E44F88;
	}
	.header-nav ul li a:hover,.header-nav ul li.active a {
		color: #1D1B1B;
	}
	span.menu {
	  text-align: left;
	}
	.dropup, .dropdown {
	  text-align: left;
	}
	.header-nav ul {
	  padding:1em 0 1em;
	  margin: 1em 0 0 !important;
	}
	span.menu {
	  margin: 0.2em 0 0;
	}
	.cate {
	  padding-bottom: 1em;
	}
	.banner-btm-grids {
	  margin: 3em 0 0;
	}
	.banner-btm-grid:nth-child(2), .banner-btm-grid:nth-child(4) {
	  margin: 3em auto 2em;
	}
	.cum span {
	  top: 90.1% !important;
	}
	.banner-bottom2 {
	  margin-bottom: 2em;
	}
	.logo {
	  padding:0.4em 1em;
	}
	.more {
	  margin: 1em 0 0;
	}
	.banner-btm-grid {
	  padding: 0em 1em 1em;
	}
	.residential-estate-grd img {
	  width: 70%;
	}
	.about-top-left {
	  margin-bottom: 1em;
	}
	.header-nav ul li.ac a {
	  color: #4C4648;
	}
	a.navbar-brand {
	  font-size: 2em;
	}
	a.navbar-brand span {
	  font-size: 1.7em;
	}
	.navbar-toggle {
	  margin:0.5em 0 0;
	}
	.navbar-brand {
	  height: 0px;
	  padding: 7px 0;
	}
	.header-nav {
	  padding: 1em 0;
	}
	.navbar-nav .open .dropdown-menu > li > a {
	  line-height: 8px;
	}
}