/*-- //to-top --*/	
/*-----start-responsive-design------*/

@media (max-width:1366px){
	.txt {
	  padding:6.1em 1.4em;
	  text-align: center;
	}
}
@media (max-width:1280px){
	li.act a, .header-nav ul li.active a {
	  padding: 30px 18.8px;
	}
	.txt {
	  padding:6.1em 1.4em;
	  text-align: center;
	}
}
@media (max-width:1024px){
	
	.txt {
	  padding:3.1em 1.4em;
	}
	
	
}
@media (max-width:768px){
.txt {
  padding:3.1em 1.4em;
}
.text {
  top:30%;
}
.cap4 span{
position: absolute;
top: 48%;
left:-4.6%;
width: 0;
height: 0;
border-top: 13px solid #723c8e;
border-right: 13px solid transparent;
border-left: 13px solid transparent;
transform: rotate(270deg);
}
.cap5 span{
	position: absolute;
	top: 50%;
	right:-5%;

}
.cap span{
	position: absolute;
	top: 48%;
	left:-4.6%;

}
.cap1 span{
	position: absolute;
	top: 91%;
	left: 39%;

}
.cap3 span{
	right:-4.6%;

}
	
}

@media (max-width:667px){
	.txt {
	  padding:2.1em 1.4em;
	}
}
@media (max-width:640px){
	
	.txt {
	  padding:0.35em 1.4em;
	}
	.text {
	  top:20.5%;
	}
	
}
@media (max-width:600px){
	
}
@media (max-width:568px){
	
}
@media (max-width:480px){
	
	.text {
	  top:62.7%;
	}
	.text1 {
	  top:78%;
	}
	
}
@media (max-width: 414px){
	
	.cap1 span {
	  top:94.5%;
	}
	.cap span {
	  left: -3.5%;
	}
	.cap3 span {
	  right: -3.5%;
	}
	
}
@media (max-width:384px){
	
}
@media (max-width:375px){
	
}
@media (max-width:320px){
	
	.cap1 span {
	  display: none;
	}
	
	.text {
	  top:45.5%;
	}
	
}